@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

h1 {
    font-family: 'Berkshire Swash', cursive;
}

.btn-color {
    background-color: #015196;
}

#selected-player-name {
    height: 500px;
}